<?xml version="1.0" encoding="UTF-8"?>
<Server>

	<!-- 博客域名
	  主要用于邮件推送设置的域名 -->
	<property>
		<param>site_addr</param>
		<value>http://localhost:8080/blog/</value>
	</property>

	<!-- CDN地址，以"/"结尾 -->
	<property>
		<param>site_cdn_addr</param>
		<value>http://localhost:8080/blog/static/</value>
	</property>

	<!-- cloud地址，以"/"结尾  -->
	<property>
		<param>site_cloud_addr</param>
		<value>http://localhost:8080/blog/cloud/</value>
	</property>

	<!-- 上传文件存储相对路径 相对于其基础路径 -->
	<property>
		<param>article_upload_relativepath</param>
		<value>upload/</value>
	</property>

	<!-- 上传文件存储基础路径 相对于context父文件夹 -->
	<property>
		<param>article_upload_basepath</param>
		<value>blog/static/</value>
	</property>

	<!-- 云盘文件存储相对路径 相对于其基础路径 -->
	<property>
		<param>cloud_file_relativepath</param>
		<value>user/</value>
	</property>

	<!-- 云盘文件存储基础路径 相对于context父文件夹 -->
	<property>
		<param>cloud_file_basepath</param>
		<value>blog/cloud/</value>
	</property>

	<!-- ”关于我“ 对应的文章号 -->
	<property>
		<param>site_about_article_id</param>
		<value>2</value>
	</property>

	<!-- 登录严格模式将校验IP -->
	<property>
		<param>user_login_strict</param>
		<value>false</value>
	</property>

	<!-- cache持久化任务 *****************************  -->

	<!-- 将cache的缓存持久化的最大推迟次数（由于无人访问而设计的推迟持久化） -->
	<property>
		<param>cacheflush_timer_delaytimes</param>
		<value>20</value>
	</property>

	<!-- cache多久进行一次持久化
		单位：毫秒
		不可以使用 * 乘号
		最后不可以加l        -->
	<property>
		<param>cacheflush_timer_period</param>
		<value>300000</value>
	</property>

	<!-- flush第一次运行推迟的时间
		单位：毫秒
		不可以使用 * 乘号
		最后不可以加l          -->
	<property>
		<param>cacheflush_timer_delay</param>
		<value>300000</value>
	</property>

	<!-- ******************************************* -->

	<!-- 邮件推送服务 *****************************  -->

	<!-- 邮件推送线程池的线程数 -->
	<property>
		<param>emailpush_thread_num</param>
		<value>4</value>
	</property>

	<!-- 邮件推送的smtp地址 -->
	<property>
		<param>emailpush_smtp_addr</param>
		<value></value>
	</property>

	<!-- 邮件推送的ssl端口 -->
	<property>
		<param>emailpush_smtp_port</param>
		<value>465</value>
	</property>

	<!-- 邮件推送的账号名（地址） -->
	<property>
		<param>emailpush_account_addr</param>
		<value></value>
	</property>

	<!-- 邮件推送的账号密码 -->
	<property>
		<param>emailpush_account_password</param>
		<value></value>
	</property>

	<!-- 邮件推送的显示的发件人名称 -->
	<property>
		<param>emailpush_account_nickname</param>
		<value>Blog Service</value>
	</property>

	<!-- **********************************************  -->

	<!-- web.xml中配置log4j配置文件路径的参数名（param-name） -->
	<property>
		<param>log_config_path_param_name</param>
		<value>log4jConfigLocation</value>
	</property>

	<!-- 日志文件（普通）地址，如果没有配置，将会读取log4j配置文件取 -->
	<property>
		<param>log_file_info_path</param>
		<value></value>
	</property>

	<!-- 日志文件（警告）地址，如果没有配置，将会读取log4j配置文件取 -->
	<property>
		<param>log_file_warn_path</param>
		<value></value>
	</property>

	<!-- 日志文件（错误）地址，如果没有配置，将会读取log4j配置文件取 -->
	<property>
		<param>log_file_error_path</param>
		<value></value>
	</property>

	<!-- 首页置顶文章的数目 -->
	<property>
		<param>article_home_size_top</param>
		<value>5</value>
	</property>

	<!-- 首页每个rank列表的文章数目 -->
	<property>
		<param>article_home_size_rank</param>
		<value>7</value>
	</property>

	<!-- 默认的相册封面，相对于SITE_CLOUD_ADDR -->
	<property>
		<param>album_default_cover</param>
		<value>res/img/album_default.jpg</value>
	</property>

    <!-- 文字转语音的百度 APP_ID -->
    <property>
        <param>tool_speech_token_app_id</param>
        <value></value>
    </property>

    <!-- 文字转语音的百度 API_KEY -->
    <property>
        <param>tool_speech_token_api_key</param>
        <value></value>
    </property>

    <!-- 文字转语音的百度 SECRET_KEY -->
    <property>
        <param>tool_speech_token_secret_key</param>
        <value></value>
    </property>

</Server>
