<?xml version="1.0" encoding="UTF-8"?>
<Server>

    <!-- 空值标记 -->
    <property>
        <param>empty</param>
        <value>EMPTY</value>
    </property>

    <!-- 博客域名，以"/"结尾
      主要用于邮件推送设置等的域名 -->
    <property>
        <param>site_addr</param>
        <value>http://localhost:8080/blog/</value>
    </property>

    <!-- CDN地址，以"/"结尾 -->
    <property>
        <param>site_cdn_addr</param>
        <value>http://localhost:8080/blog/static/</value>
    </property>

    <!-- cloud地址，以"/"结尾  -->
    <property>
        <param>site_cloud_addr</param>
        <value>http://localhost:8080/blog/cloud/</value>
    </property>

    <!-- 文件系统模式（local、remote、sync） -->
    <property>
        <param>cloud_file_system_mode</param>
        <value>local</value>
    </property>

    <!-- oss配置文件地址 可使用前缀 classpath:  -->
    <property>
        <param>remote_oss_config_location</param>
        <value>classpath:server/oss.properties</value>
    </property>

    <!-- 上传文件存储基础路径 相对于context父文件夹，可以是绝对路径
        仅对本地文件系统有效 -->
    <property>
        <param>article_upload_basepath</param>
        <value>blog/static/</value>
    </property>

    <!-- 上传文件存储相对路径 相对于其基础路径 -->
    <property>
        <param>article_upload_relativepath</param>
        <value>upload/</value>
    </property>

    <!-- 云盘文件存储基础路径 相对于context父文件夹，可以是绝对路径，
        仅对本地文件系统有效 -->
    <property>
        <param>cloud_file_basepath</param>
        <value>blog/cloud/</value>
    </property>

    <!-- 云盘文件存储相对路径 相对于其基础路径 -->
    <property>
        <param>cloud_file_relativepath</param>
        <value>user/</value>
    </property>

    <!-- 垃圾回收路径，仅对本地文件系统有效 -->
    <property>
        <param>trash_recycle_basepath</param>
        <value>blog/cloud/.trash/</value>
    </property>

    <!-- 允许发表文章的用户组最低等级，值为对应用户组的Gid，
        0代表所有用户组允许发表文章；
        1代表高级用户及以上允许发表文章；
        -1代表只有管理员允许发表文章；
    -->
    <property>
        <param>article_allow_create_lowest_level</param>
        <value>0</value>
    </property>

    <!-- 云盘允许上传文件的用户组最低等级，值为对应用户组的Gid，
        0代表所有用户组允许上传；
        1代表高级用户及以上允许上传；
        -1代表只有管理员允许上传；
    -->
    <property>
        <param>cloud_allow_upload_lowest_level</param>
        <value>0</value>
    </property>

    <!-- 照片最大上传大小，单位字节，-1代表无限制，支持子集：@user_{uid}:{size} -->
    <property>
        <param>cloud_photo_max_uploadsize</param>
        <value>10485760</value>
    </property>

    <!-- 视频最大上传大小，单位字节，-1代表无限制，支持子集：@user_{uid}:{size} -->
    <property>
        <param>cloud_video_max_uploadsize</param>
        <value>-1</value>
    </property>

    <!-- 文件最大上传大小，单位字节，-1代表无限制，支持子集：@user_{uid}:{size} -->
    <property>
        <param>cloud_file_max_uploadsize</param>
        <value>-1</value>
    </property>

    <!-- 信息feed流允许显示订阅的用户 -->
    <property>
        <param>feed_flow_allow_following_show</param>
        <value>true</value>
    </property>

    <!-- 信息feed（广场）允许显示的用户组最低等级（无需订阅），值为对应用户组的Gid -->
    <property>
        <param>feed_flow_allow_show_lowest_level</param>
        <value>-1</value>
    </property>

    <!-- 浏览器端的配置
        JSON格式： {"version": 1.0, "force": true, ...}
        version: 为改配置的版本号，必填，修改配置后，设置新的版本号才会生效
        force：强力升级，该方式为先删除客户端配置，再写入，可不填，不填为false
        修改完成后，修改 SITE_CDN_ADDR_ARGS 为新值，客户端才会加载 -->
    <property>
        <param>site_client_config</param>
        <value></value>
    </property>

    <!-- 静态文件地址后缀(仅限js、css)
        {time} 可取时间戳
        {date} 可取yyMMdd     -->
    <property>
        <param>site_cdn_addr_args</param>
        <value></value>
    </property>

    <!-- 图片文件预览参数，支持子集：@user_{uid}:{args} ，{col}可取到运行时显示的列数 -->
    <property>
        <param>cloud_photo_preview_args</param>
        <value></value>
    </property>

    <!-- “关于我”对应的文章号 -->
    <property>
        <param>site_about_article_id</param>
        <value>0</value>
    </property>

    <!-- “帮助”对应的文章号，支持子集：@{module}:{aid} -->
    <property>
        <param>site_help_article_id</param>
        <value>0</value>
    </property>

    <!-- 登录严格模式将校验IP -->
    <property>
        <param>user_login_strict</param>
        <value>false</value>
    </property>

    <!-- 记住登录的保持时间，单位天，支持子集：@user_{uid}:{maxAge} -->
    <property>
        <param>user_login_remember_max_age</param>
        <value>365</value>
    </property>

    <!-- cache持久化任务 *****************************  -->

    <!-- 将cache的缓存持久化的最大推迟次数（由于无人访问而设计的推迟持久化） -->
    <property>
        <param>cacheflush_timer_delaytimes</param>
        <value>20</value>
    </property>

    <!-- cache多久进行一次持久化
        单位：毫秒
        不可以使用 * 乘号
        最后不可以加l        -->
    <property>
        <param>cacheflush_timer_period</param>
        <value>300000</value>
    </property>

    <!-- flush第一次运行推迟的时间
        单位：毫秒
        不可以使用 * 乘号
        最后不可以加l          -->
    <property>
        <param>cacheflush_timer_delay</param>
        <value>300000</value>
    </property>

    <!-- ******************************************* -->

    <!-- 消息推送线程池的线程数 -->
    <property>
        <param>notifyservice_thread_num</param>
        <value>4</value>
    </property>

    <!-- 邮件推送服务配置文件地址 -->
    <property>
        <param>emailpush_config_location</param>
        <value>classpath:server/email.properties</value>
    </property>

    <!-- **********************************************  -->

    <!-- web.xml中配置log4j配置文件路径的参数名（param-name） -->
    <property>
        <param>log_config_path_param_name</param>
        <value>log4jConfigLocation</value>
    </property>

    <!-- 日志文件（普通）地址，如果没有配置，将会读取log4j配置文件取 -->
    <property>
        <param>log_file_info_path</param>
        <value></value>
    </property>

    <!-- 日志文件（警告）地址，如果没有配置，将会读取log4j配置文件取 -->
    <property>
        <param>log_file_warn_path</param>
        <value></value>
    </property>

    <!-- 日志文件（错误）地址，如果没有配置，将会读取log4j配置文件取 -->
    <property>
        <param>log_file_error_path</param>
        <value></value>
    </property>

    <!-- 首页置顶文章的数目 -->
    <property>
        <param>article_home_size_top</param>
        <value>7</value>
    </property>

    <!-- 首页每个rank列表的文章数目 -->
    <property>
        <param>article_home_size_rank</param>
        <value>7</value>
    </property>

    <!-- 默认的相册封面，相对于SITE_CLOUD_ADDR -->
    <property>
        <param>album_default_cover</param>
        <value>{"path":"res/img/album_default.jpg","width": 800,"height": 800}</value>
    </property>

    <!-- 默认的男生用户头像，列表，至少一个，设置时为json数组字符串，数组类型为头像地址字符串，相对于site_cdn_addr -->
    <property>
        <param>user_default_headphotos_man</param>
        <value>["img/default_man.jpg"]</value>
    </property>

    <!-- 默认的女生用户头像，列表，至少一个，设置时为json数组字符串，数组类型为头像地址字符串 ，相对于site_cdn_addr -->
    <property>
        <param>user_default_headphotos_miss</param>
        <value>["img/default_miss.jpg"]</value>
    </property>

    <!-- 工具服务配置文件地址 -->
    <property>
        <param>toolservice_config_location</param>
        <value>classpath:server/tool.properties</value>
    </property>

    <!-- 是否允许运行系统升级，true or false -->
    <property>
        <param>site_allow_run_upgrade</param>
        <value>false</value>
    </property>

    <!-- 旧页面重定向到新页面时的http code，默认302 -->
    <property>
        <param>site_old_page_redirect_code</param>
        <value>302</value>
    </property>

    <!-- 用户在线时是否运行离线通知，true: 同时运行，false: 当用户在线时，不执行其他方式通知，true or false -->
    <property>
        <param>run_offline_notify_when_online</param>
        <value>false</value>
    </property>

    <!-- 访问记录器忽略的爬虫名称, json数组 -->
    <property>
        <param>access_record_ignore_spiders</param>
        <value>["spider", "bot", "crawler", "Baiduspider", "Googlebot", "Sogou web spider", "YodaoBot", "Sosospider", "NaverBot", "msnbot"]</value>
    </property>

    <!-- 网站ICP备案号，例：湘ICP备XXXXXXX号 -->
    <property>
        <param>site_icp_record_code</param>
        <value></value>
    </property>

    <!-- 网站公安备案号，例：湘公网安备 XXXXXXXXXXXXXXX号 -->
    <property>
        <param>site_police_record_code</param>
        <value></value>
    </property>

</Server>
