# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# java
*.class

# idea
/.idea/
*.iml
/out/

# maven
/target/

# other
/src/main/webapp/cloud/user/
/src/main/webapp/static/upload/article/
/src/main/resources/server/ServerConfig.xml
/src/main/resources/server/jdbc.properties
