<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="com.blog.entity.User" alias="user"/>
		<typeAlias type="com.blog.entity.Article" alias="article"/>
		<typeAlias type="com.blog.entity.Comment" alias="comment"/>
		<typeAlias type="com.blog.entity.Category" alias="category"/>
		<typeAlias type="com.blog.entity.UserGroup" alias="userGroup"/>
		<typeAlias type="com.blog.entity.Letter" alias="letter"/>
		<typeAlias type="com.blog.entity.SysMsg" alias="sysMsg"/>
		<typeAlias type="com.blog.entity.Collection" alias="collect"/>
		<typeAlias type="com.blog.entity.temp.Follow" alias="follow"/>
		<typeAlias type="com.blog.entity.temp.Friend" alias="friend"/>
		<typeAlias type="com.blog.entity.Album" alias="album"/>
		<typeAlias type="com.blog.entity.Photo" alias="photo"/>
	</typeAliases>
	
	<!-- 注册类型转换器 -->
	<typeHandlers>
    	<typeHandler handler="com.blog.dao.typehandler.DateTypeHandler" 
        	javaType="java.util.Date" jdbcType="BIGINT"/>
	</typeHandlers>

</configuration>